 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Conor Lewis and I am 20 years old. Currently a Student at the University of Gloucestershire, studying Computer Games Programming. Using C++, C# and Unity.</p>
                </div>
                <div class="col-lg-4">
                    <p>In my spare time, I am a gamer at heart. I play on most platforms and play many genres. When it comes to coding, my favorite challenge is mixing code that should not belong with each other and attempt to make it work.</p>
                </div>
            </div>
        </div>
    </section>
